<h1 class='text-center m-auto p-2 fw-bold text-white'>{{topicName}}</h1>
<div class='container text-center my-3'>
  <!-- Button trigger modal -->
  <button
    type='button'
    class='btn btn-primary'
    data-bs-toggle='modal'
    data-bs-target='#achievementForm'
  >
    Add an Achievement!
  </button>
</div>

<!-- Modal -->
<div
  class='modal fade'
  id='achievementForm'
  tabindex='-1'
  aria-labelledby='achievementFormLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1
          class='modal-title fs-5'
          id='achievementFormLabel'
          data-topic-id={{topicId}}
        >{{topicName}}</h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <form class='px-4 py-3 achievement-form'>
          <div class='mb-3'>
            <label for='date' class='form-label'>Date of achievement</label>
            <input
              type='text'
              class='form-control'
              id='date'
              placeholder='xx/xx/xxxx'
            />
          </div>
          <div class='mb-3'>
            <label for='subject' class='form-label'>Subject</label>
            <input
              type='text'
              class='form-control'
              id='subject'
              placeholder='Subject of achievement'
            />
          </div>
          <div class='mb-3'>
            <label for='description' class='form-label'>Description</label>
            <textarea
              class='form-control'
              id='description'
              placeholder='Achievement details'
              rows='10'
            ></textarea>
            <div class='mb-3'>
              <label class='file-upload-container' for='file-upload'>
                Add a photo related to your achievement:
                <input id='file-upload' type='file' />
              </label>
            </div>
            <div id='preview-div'>
              <img
                src=''
                alt='Image preview'
                class='mb-3'
                id='preview-img'
                {{! onerror="this.style.display='none'" }}
              />
            </div>
          </div>
          <button
            type='submit'
            class='btn btn-primary'
            data-bs-dismiss='modal'
            id='submitBtn'
          >Add it!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Achievements -->

<div class='d-flex'>
  <ul
    id='achievementContainer'
    class='list-group list-group-flush mx-auto justify-content-center'
  >
    {{#if achievements.length}}
      {{#each achievements as |achievement|}}
        <li class='list-group-item mb-2'>
          <div class='card' style='width: 18rem;'>
            <div class='card-header d-flex justify-content-between'>
              <h5 class='card-title'>{{achievement.subject}}</h5>
              <button
                type='button'
                class='btn-close deleteAchievement'
                data-achievement-id={{achievement.id}}
                aria-label='Close'
              ></button>
            </div>
            <div class='card-body'>
              <h6
                class='card-subtitle mb-2 text-black'
              >{{achievement.date}}</h6>
              <p class='card-text'>{{achievement.description}}</p>
              {{#if achievement.img_url}}
                <img src='{{achievement.img_url}}' class='card-img-bottom' />
              {{/if}}
            </div>
          </div>
        </li>
      {{/each}}
    {{else}}

      <!-- Intro Card -->
      <div class='card' id='intro' style='width: 18rem;'>
        <div class='card-body'>
          <h5 class='card-title'>Let's start the hype!</h5>
          <p class='card-text'>Create achievements for this topic and celebrate
            your growth!
          </p>
        </div>
      </div>
    {{/if}}
  </ul>
</div>

<script src='/js/topic.js'></script>